{% extends "admin/base_site.html" %}

{% block extrahead %}
{{ block.super }} 
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
<script type="module">

import { initializeApp } from "https://www.gstatic.com/firebasejs/12.1.0/firebase-app.js";
import { getMessaging, getToken,onMessage } from "https://www.gstatic.com/firebasejs/12.1.0/firebase-messaging.js";

const firebaseConfig = {
    apiKey: "AIzaSyBYrN3awQ6KwAL4Ox6A0rc7O0AnGclMXHg",
    authDomain: "garda-a8eb9.firebaseapp.com",
    projectId: "garda-a8eb9",
    storageBucket: "garda-a8eb9.firebasestorage.app",
    messagingSenderId: "615899913660",
    appId: "1:615899913660:web:593bb216ae08d3503a5fb9",
    measurementId: "G-GFW2E7D6FL"
};

const app = initializeApp(firebaseConfig);
const messaging = getMessaging(app);
onMessage(messaging, (payload) => {

    const url = payload.data?.url || "/";

    Swal.fire({
        toast: true,
        position: "top-end",
        icon: "info",
        title: payload.data?.title || "GardaKSB",
        text: payload.data?.body || "",
        showConfirmButton: false,
        timer: 10000,
        timerProgressBar: true,

        didOpen: (toast) => {
            toast.style.cursor = "pointer";

            toast.addEventListener("click", () => {
                window.location.href = url;
            });
        }
    });

});
function logoutUser() {

    const form = document.createElement("form");

    form.method = "POST";
    form.action = "/admin/logout/";

    form.innerHTML = `
        <input
            type="hidden"
            name="csrfmiddlewaretoken"
            value="{{ csrf_token }}"
        >
    `;

    document.body.appendChild(form);
    form.submit();
}

async function ensureNotificationPermission() {

    if (Notification.permission === "granted") {
        return true;
    }

    if (Notification.permission === "denied") {
        await refreshOrLogout(
            "Notifikasi Diblokir",
            `
                <p>
                    Aktifkan <b>Notifications → Allow</b>
                    dari pengaturan browser.
                </p>
            `,
            "warning"
        );
        return false;
    } 
    const result = await Swal.fire({
        icon: "info",
        title: "Aktifkan Notifikasi",
        html: `
            <ul style="text-align:left">
                <li>Pengaduan baru</li>
                <li>Disposisi pimpinan</li>
                <li>Informasi sistem</li>
            </ul>
        `,
        confirmButtonText: "Aktifkan Notifikasi",
        cancelButtonText: "Logout",
        showCancelButton: true,
        reverseButtons: true,
        allowOutsideClick: false,
        allowEscapeKey: false
    });

    if (!result.isConfirmed) {
        logoutUser();
        return false;
    }

    const permission = await Notification.requestPermission();

    if (permission !== "granted") {

        const retry = await Swal.fire({
            icon: "warning",
            title: "Notifikasi Wajib Diaktifkan",
            text: "Silakan aktifkan notifikasi untuk menggunakan aplikasi.",
            confirmButtonText: "Refresh",
            cancelButtonText: "Logout",
            showCancelButton: true,
            reverseButtons: true,
            allowOutsideClick: false,
            allowEscapeKey: false
        });

        if (retry.isConfirmed) {
            window.location.reload();
        } else {
            logoutUser();
        }

        return false;
    }

    return true;
}
async function initFCM() {

    try {

        const allowed = await ensureNotificationPermission();

        if (!allowed) {
            return;
        }

        const registration = await navigator.serviceWorker.register(
            "/firebase-messaging-sw.js"
        );

        const token = await getToken(messaging, {
            vapidKey: "BKD3hvTVBxvDo4mUed82b1xad-FX379_-SI0jpu7XReOzs1EQmDBIUNnZb9mQRQkEfUiz4PNAtoVyM0ltmBiCZ4",
            serviceWorkerRegistration: registration
        });

        if (!token) {

            await refreshOrLogout(
                "FCM Token Gagal",
                "Token notifikasi tidak berhasil dibuat.",
                "error"
            );

            return;
        }

        await fetch("/api/device-token/", {
            method: "POST",
            credentials: "same-origin",
            headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": "{{ csrf_token }}"
            },
            body: JSON.stringify({
                token: token,
                platform: "WEB"
            })
        });

        console.log("FCM READY");

    } catch (error) { 
        await refreshOrLogout(
            "Gagal Menginisialisasi Notifikasi",
            "Terjadi kesalahan saat mengaktifkan notifikasi.",
            "error"
        );
    } 
}

document.addEventListener(
    "DOMContentLoaded",
    ()=>{
        initFCM();
        document.querySelectorAll(
            "input, textarea, select"
        ).forEach(el => {

            const style = getComputedStyle(el);

            if (
                style.borderStyle === "none" ||
                style.borderWidth === "0px"
            ) {
                el.style.border = "1px solid #d1d5db";
            }

        });
    }
);

async function refreshOrLogout(
    title,
    content,
    icon = "warning",
    isHtml = true
) {

    const config = {
        icon,
        title,
        confirmButtonText: "Refresh",
        cancelButtonText: "Logout",
        showCancelButton: true,
        reverseButtons: true,
        allowOutsideClick: false,
        allowEscapeKey: false
    };

    if (isHtml) {
        config.html = content;
    } else {
        config.text = content;
    }

    const result = await Swal.fire(config);

    if (result.isConfirmed) {
        window.location.reload();
    } else {
        logoutUser();
    }
} 

</script>
<style>
/* Semua input anggota organisasi */
#anggotaorganisasi_set-group input[type="text"]{
    border: 1px solid #64748b !important;
    border-radius: 6px;
    padding: 8px 10px;
    width: 100%;
}
.swal2-textarea,
.swal2-select,
.swal2-checkbox,
.swal2-range,
.swal2-input {
    display: none !important;
}

/* Textarea alamat */
#anggotaorganisasi_set-group textarea{
    border: 1px solid #64748b !important;
    border-radius: 6px;
    padding: 8px 10px;
    min-height: 80px;
    width: 100%;
}

/* Focus */
#anggotaorganisasi_set-group input[type="text"]:focus,
#anggotaorganisasi_set-group textarea:focus{
    border-color: #2563eb !important;
    outline: none !important;
    box-shadow: 0 0 0 2px rgba(37,99,235,.2);
}
</style>

{% endblock %}