{% extends './layout.html' %}
{% block content %}

<div class="p-6">
  <div class="max-w-3xl mx-auto">

    <div class="flex justify-between items-center mb-6">
      <h2 class="text-xl font-semibold dark:text-white">
        Tambah Pendapatan
      </h2>

      <!-- <a href="{% url 'pendapatan' kelompok.id jenis %}"
        class="px-4 py-2 border rounded-lg hover:bg-zinc-100">
        ← Kembali
      </a> -->
      <button onclick="window.history.back()"
          class="px-4 py-2 text-sm border rounded-lg hover:bg-zinc-100">
          ← Kembali
      </button>
    </div>
    
    {% if messages %}
        {% for message in messages %}
            <div class="mb-3 px-4 py-3 rounded-lg bg-red-100 text-red-700">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <form method="post"
      class="space-y-4 bg-white dark:bg-zinc-900 p-6 rounded-xl shadow">

      {% csrf_token %}
      
      <div {% if jenis != 'UMUM' %}style="display: none;"{% endif %}>
        <label class="block text-sm mb-1">Usaha</label>
        <select name="usaha"
          class="w-full p-2 border rounded-lg">
          {% for u in usaha %}
          <option value="{{ u.id }}">
            {{ u.kelompok.nmKelo }} - {{ u.jenisUsaha.nmJUsaha }}
          </option>
          {% endfor %}
        </select>
      </div>
     

      <div>
        <label class="block text-sm mb-1">Tanggal</label>
        <input
          type="date"
          name="tanggal" 
          value="{% now 'Y-m-d' %}"
          class="w-full p-2 border rounded-lg">
      </div>
      {% if jenis == 'UMUM' %}
        <div>
          <label class="block text-sm mb-1">Pendapatan</label>
          <input
            type="number"
            name="pendapatan"
            class="w-full p-2 border rounded-lg"
            placeholder="0">
        </div>
      {% else %}
        <div>
          <input
            type="hidden"
            name="pendapatan"
            class="w-full p-2 border rounded-lg"
            value="{{ukas}}"
            placeholder="0">
        </div>
        <div>
          <label class="block text-sm mb-1">Kas</label>
          <input
            type="number"
            name=""
            class="w-full p-2 border rounded-lg"
            value="{{ukas}}"
            placeholder="0" disabled>
        </div>
      {% endif %}
      <div>
        <label class="block text-sm mb-1">
          Pengeluaran {% if jenis != 'UMUM' %}(ke {{ jenis }}){% endif %}
        </label>
        <input
          type="number"
          name="pengeluaran"
          class="w-full p-2 border rounded-lg"
          placeholder="0">
      </div>

      <div>
        <label class="block text-sm mb-1">Keterangan</label>
        <textarea
          name="keterangan"
          rows="3"
          class="w-full p-2 border rounded-lg"></textarea>
      </div>

      <div class="flex justify-end gap-2 pt-4">
        <a href="{% url 'pendapatan' kelompok.id jenis %}"
          class="px-4 py-2 bg-gray-200 rounded-lg">
          Batal
        </a>

        <button
          type="submit"
          class="px-4 py-2 bg-blue-500 text-white rounded-lg hover:bg-blue-600">
          Simpan
        </button>
      </div>

    </form>

  </div>
</div>

{% endblock %}