{% extends './layout.html' %}
{% load static %}

{% block content %}

<section class="section_hero" style="position: sticky !important;">
    <div class="hero-gap home-pd">
        <div class="w-layout-blockcontainer container-main relative w-container">
            <!-- <div class="hero-wrapper"> -->
            <!-- <div class="hero-content-block-v3"> -->
            <div class="case-study-wrapper">
                <div class="case-study-content-block-v3">

                    <div aria-label="carousel" class="case-study-slider-block-v1 w-slider" data-animation="cross"
                        data-autoplay="false" data-autoplay-limit="0" data-delay="4000" data-disable-swipe="false"
                        data-duration="500" data-easing="ease" data-hide-arrows="false" data-infinite="true"
                        data-nav-spacing="3" role="region">
                        <!-- assets/images/6a2a52b7f4b6996fa19a2182_case-20study-20thumbnail-202-p-800-3632bc77.webp -->
                        <div class="case-study-slider-mask w-slider-mask" id="w-slider-mask-0">
                            {% for berita in dberita %}
                            <div aria-label="1 of 2" class="case-study-slide-block w-slide" role="group"
                                style="transition: all; transform: translateX(0px); opacity: 1;">
                                <div class="case-study-collection-block w-dyn-list">
                                    <div class="case-study-collection-list w-dyn-items" role="list">
                                        <div class="case-study-collection-item w-dyn-item" role="listitem">
                                            <div class="case-study-card-item-block-v1">
                                                <div class="case-study-card-image-block-v1"><img
                                                        alt="case-study-card-image" class="case-study-card-image-v1"
                                                        loading="lazy" sizes="100vw"
                                                        src="/media/{{ berita.cover_image }}"
                                                        srcset="/media/{{ berita.cover_image }} 500w, /media/{{ berita.cover_image }} 800w, /media/{{ berita.cover_image }} 1066w">
                                                </div>
                                                <div class="case-study-card-content-block-v1">
                                                    <div class="case-study-card-text-block">
                                                        <div class="case-study-card-title-block">
                                                            <div class="heading-style-4">{{ berita.judul }}</div>
                                                        </div>
                                                        <div class="case-study-card-button-block-v1"><a
                                                                class="white-button w-inline-block"
                                                                data-wf--white-button--variant="main-size"
                                                                data-wf-component-id="7f51300f-9481-7764-372f-282224688a1e"
                                                                data-wf-variant-state="base"
                                                                href="{% url 'detailInformasi' berita.slug %}">
                                                                <div class="button-dot-block dark"
                                                                    style="translate: none; rotate: none; scale: none; transform: translate3d(0px, 0px, 0px) scale(0, 0);">
                                                                </div>
                                                                <div class="button-text-block"
                                                                    style="translate: none; rotate: none; scale: none; transform: translate3d(-8px, 0px, 0px);">
                                                                    <div class="button-text">read more</div>
                                                                </div>
                                                            </a></div>
                                                    </div>
                                                    <div class="case-study-card-stat-block-v1">
                                                        <div class="case-study-single-stat-block">
                                                            <div
                                                                class="heading-style-4 text-color-primary-900 _wf-counter">
                                                                {{ berita.total_view }} X</div>
                                                            <p class="text-size-regular text-color-gray-600">views</p>
                                                        </div>
                                                        <div class="case-study-stat-divider v2"></div>
                                                        <div class="case-study-single-stat-block">
                                                            <div
                                                                class="heading-style-4 text-color-primary-900 _wf-counter">
                                                                {{ berita.total_like }} X</div>
                                                            <p class="text-size-regular text-color-gray-600">like</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div aria-atomic="true" aria-live="off" class="w-slider-aria-label" data-wf-ignore=""></div>
                            <div aria-live="off" aria-atomic="true" class="w-slider-aria-label" data-wf-ignore=""></div>

                            {% endfor %}
                        </div>
                        <div aria-controls="w-slider-mask-0" aria-label="previous slide"
                            class="case-study-slider-arrow-v1 left-arrow w-slider-arrow-left" role="button"
                            tabindex="0">
                            <div class="case-study-slider-icon w-embed"><svg fill="none" height="24" viewBox="0 0 24 24"
                                    width="24" xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_6146_5846)">
                                        <path d="M4.5 12H21M10.5 18.375L4.125 12L10.5 5.625" stroke="currentColor"
                                            stroke-miterlimit="10" stroke-width="1.5"></path>
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_6146_5846">
                                            <rect fill="currentColor" height="24" transform="matrix(-1 0 0 -1 24 24)"
                                                width="24">
                                            </rect>
                                        </clipPath>
                                    </defs>
                                </svg>
                            </div>
                        </div>
                        <div aria-controls="w-slider-mask-0" aria-label="next slide"
                            class="case-study-slider-arrow-v1 right-arrow w-slider-arrow-right" role="button"
                            tabindex="0" >
                            <div class="case-study-slider-icon w-embed"><svg fill="none" height="24" viewBox="0 0 24 24"
                                    width="24" xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_6146_5851)">
                                        <path d="M19.5 12H3M13.5 5.625L19.875 12L13.5 18.375" stroke="currentColor"
                                            stroke-miterlimit="10" stroke-width="1.5"></path>
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_6146_5851">
                                            <rect fill="currentColor" height="24" width="24"></rect>
                                        </clipPath>
                                    </defs>
                                </svg>
                            </div>
                        </div>
                        <div class="display-none w-slider-nav w-round w-num">
                            <div class="w-slider-dot w-active" data-wf-ignore="" aria-label="Show slide 1 of 4"
                                aria-pressed="true" role="button" tabindex="0"
                                style="margin-left: 3px; margin-right: 3px;">1</div>
                            <div class="w-slider-dot" data-wf-ignore="" aria-label="Show slide 2 of 4"
                                aria-pressed="false" role="button" tabindex="-1"
                                style="margin-left: 3px; margin-right: 3px;">2</div>
                            <div class="w-slider-dot" data-wf-ignore="" aria-label="Show slide 3 of 4"
                                aria-pressed="false" role="button" tabindex="-1"
                                style="margin-left: 3px; margin-right: 3px;">3</div>
                            <div class="w-slider-dot" data-wf-ignore="" aria-label="Show slide 4 of 4"
                                aria-pressed="false" role="button" tabindex="-1"
                                style="margin-left: 3px; margin-right: 3px;">4</div>
                        </div>
                    </div>

                </div>
            </div>


        </div>
    </div>
</section>
<div class="others-section home-v3" style="margin-top: 0px !important;">
    <section class="section_about"
        style="translate: none; rotate: none; scale: none; opacity: 0; transform: translate(0px, 80px);" to-top-0="">
        <div class="w-layout-blockcontainer container-fluid w-container">
            <div class="about-wrapper">
                <div class="section-heading-block align-left container-main">
                    <div class="about-title-block max-width-54 left-algin">
                        <h2 class="about-title-text text-align-left">Informasi
                            <span class="about-title-icon-1"> & </span>Monitoring
                            <span class="about-title-icon-2">      </span><br>Materi & Berita.
                        </h2>
                        <div class="about-title-overlay-block">
                            <div class="about-title-overlay is-1"
                                style="translate: none; rotate: none; scale: none; transform: translate(0px, 0px);">
                            </div>
                            <div class="about-title-overlay is-2"
                                style="translate: none; rotate: none; scale: none; transform: translate(0px, 0px);">
                            </div>
                            <div class="about-title-overlay is-3"
                                style="translate: none; rotate: none; scale: none; transform: translate(0px, 0px);">
                            </div>
                            <div class="about-title-overlay is-4"
                                style="translate: none; rotate: none; scale: none; transform: translate(0px, 0px);">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="about-content-block-v3" style="justify-content: center;">
                    <div class="about-content-right-block-v3 satuBaris700">
                        <div class="about-cards-block-v3">
                            <div class="about-lg-card-block-v3"
                                style="translate: none; rotate: none; scale: none; opacity: 0; transform: translate(0px, 80px);"
                                to-top-2="">
                                <div class="about-lg-card-top-block-v3">
                                    <div class="card-subtitle-block">
                                        <div class="subtitle-dot"></div>
                                        <div class="subtitle-text">Materi</div>
                                    </div>
                                    <div class="about-lg-card-icon-block-v3">
                                        <div class="about-lg-card-icon w-embed">
                                            <div class="about-card-stat-number _wf-counter">{{gmateri.total}}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="about-lg-card-bottom-block-v3">
                                    <div class="about-lg-card-stat-block-v3">
                                        <canvas id="chartBidang" style="max-height: 300px;"></canvas>
                                    </div>
                                    <div class="about-lg-card-text-block-v3">

                                        <p class="text-size-regular">total data materi dan persentasi pertisipasi user
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="about-sm-card-block-v3"
                                style="translate: none; rotate: none; scale: none; opacity: 0; transform: translate(0px, 80px);"
                                to-top-2="">
                                <div class="card-subtitle-block">
                                    <div class="subtitle-dot"></div>
                                    <div class="subtitle-text">persentase Materi</div>
                                </div>
                                <div class="about-sm-card-stat-block-v3">
                                    <div class="about-card-stat-number _wf-counter">{{pmateri.persentase}}%</div>
                                </div>
                            </div>
                        </div>
                        <div class="about-cards-block-v3">
                            <div class="about-sm-card-block-v3"
                                style="translate: none; rotate: none; scale: none; opacity: 0; transform: translate(0px, 80px);"
                                to-top-4="">
                                <div class="card-subtitle-block">
                                    <div class="subtitle-dot"></div>
                                    <div class="subtitle-text">persentase Berita</div>
                                </div>
                                <div class="about-sm-card-stat-block-v3">
                                    <div class="about-card-stat-number _wf-counter">{{pberita.persentase}} %</div>
                                </div>
                            </div>
                            <div class="about-lg-card-block-v3"
                                style="translate: none; rotate: none; scale: none; opacity: 0; transform: translate(0px, 80px);"
                                to-top-6="">
                                <div class="about-lg-card-top-block-v3">
                                    <div class="card-subtitle-block">
                                        <div class="subtitle-dot"></div>
                                        <div class="subtitle-text">Berita</div>
                                    </div>
                                    <div class="about-lg-card-icon-block-v3">
                                        <div class="about-lg-card-icon w-embed">

                                            <div class="about-card-stat-number _wf-counter">{{gberita.total}}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="about-lg-card-bottom-block-v3">
                                    <div class="about-lg-card-stat-block-v3">
                                        <canvas id="chartBerita"></canvas>
                                    </div>
                                    <div class="about-lg-card-text-block-v3">
                                        <p class="text-size-regular">total data berita dari setiap bidang dan persentasi
                                            pertisipasi user.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="logo-content-block maxWidth" data-wf--logo-marquee--variant="v1">
                    <div class="logo-title-block"
                        style="translate: none; rotate: none; scale: none; opacity: 0; transform: translate(0px, 80px);"
                        to-top-0="">
                        <div class="text-size-small text-align-center text-color-white">Aksi Gabungan</div>
                    </div>
                    <div class="logo-content-inner"
                        style="translate: none; rotate: none; scale: none; opacity: 0; transform: translate(0px, 80px);"
                        to-top-2="">
                        <div class="logo-row-block"
                            style="translate: none; rotate: none; scale: none; transform: translate3d(-35.0644%, 0px, 0px);">
                            {% for item in dpatner %}
                            <div class="logo-block">
                                <img alt="{{ item.nama }}" class="logo" loading="lazy"
                                    style="width: 40px; height: auto;" src="{{ item.image }}" />
                            </div>
                            {% endfor %}
                        </div>
                        <div class="logo-overlay-block"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section_services " style="background-image:url('{% static "assets/images/Designer2.png"%}');">
        <div class="section-gap"  style="background-color: rgb(11 4 4 / 59%);"> 
            <div class="w-layout-blockcontainer container-fluid w-container">
                <div class="services-wrapper">
                    <div class="section-heading-block container-main mobie-pd">
                        <div class="section-subtitle-block bottom-space-lg"
                            style="translate: none; rotate: none; scale: none; opacity: 0; transform: translate(0px, 80px);"
                            to-top-0="">
                            <div class="subtitle-dot"></div>
                            <div class="subtitle-text">Berita Publish</div>
                        </div>
                    </div>
                    <div class="services-content-block"
                        style="translate: none; rotate: none; scale: none; opacity: 0; transform: translate(0px, 80px);"
                        to-top-4="">
                        <div class="services-content-inner-block">
                            <div class="services-content-sticky-block">
                                <div class="services-content-row-block"
                                    style="translate: none; rotate: none; scale: none; transform: translate3d(0%, 0px, 0px);">
                                    <div class="services-collection-block w-dyn-list">
                                        <div class="services-collection-list w-dyn-items maxWidth" role="list">
                                            {% for o in dberita %}
                                            <div class="services-collection-item w-dyn-item" role="listitem" style="position: unset;">
                                                <div class="services-item-card-block v3 maxWidth80"><a
                                                        class="services-item-thumbnail-block v3 w-inline-block"
                                                        href="{% url 'detailInformasi' o.slug %}"><img
                                                            alt="Service Image Overlay"
                                                            class="services-thumbnail-overlay" loading="lazy"
                                                            src="media/{{o.cover_image}}" /><img alt=""
                                                            class="services-item-thumbnail-v3" loading="lazy"
                                                            src="media/{{o.cover_image}}" /></a>
                                                    <div class="services-item-content-block-v3">
                                                        <div class="services-item-text-block"><a
                                                                aria-label="services-item-title-blocka"
                                                                class="services-item-title-block w-inline-block"
                                                                href="{% url 'detailInformasi' o.slug %}">
                                                                <h3 class="services-item-title-v3">{{o.judul}}</h3>
                                                            </a>
                                                            <div class="services-item-summary-block">
                                                                <p class="text-size-regular text-color-white">
                                                                    {{o.deskripsi}}</p>
                                                            </div>
                                                        </div>
                                                        <div class="services-item-button-block"><a
                                                                class="white-button w-inline-block"
                                                                data-wf--white-button--variant="main-size"
                                                                data-wf-component-id="7f51300f-9481-7764-372f-282224688a1e"
                                                                data-wf-variant-state="base"
                                                                href="{% url 'detailInformasi' o.slug %}">
                                                                <div class="button-dot-block dark"
                                                                    style="translate: none; rotate: none; scale: none; transform: scale(0, 0);">
                                                                </div>
                                                                <div class="button-text-block"
                                                                    style="translate: none; rotate: none; scale: none; transform: translate(-8px, 0px);">
                                                                    <div class="button-text">View service</div>
                                                                </div>
                                                            </a></div>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endfor %}

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section_our-value">
        <div class="section-gap">
            <div class="w-layout-blockcontainer container-main w-container">
                <div class="our-value-wrapper">
                    <div class="section-heading-block align-left">
                        <div class="section-subtitle-block bottom-space-lg"
                            style="translate: none; rotate: none; scale: none; opacity: 0; transform: translate(0px, 80px);"
                            to-top-0="">
                            <div class="subtitle-dot"></div>
                            <div class="subtitle-text">Mapping Kasus</div>
                        </div>
                    </div>
                    <div class="our-value-content-block-v3">
                        <div class="our-value-cards-block-v3">
                            <div id="map" style="height:600px;border-radius:12px;"></div>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{{ gberita|json_script:"berita-bulan-data" }}
{{ gmateri|json_script:"materi-bidang-data" }}
<script>

    const beritaData = JSON.parse(
        document.getElementById(
            'berita-bulan-data'
        ).textContent
    );

    const bidangData = JSON.parse(
        document.getElementById(
            'materi-bidang-data'
        ).textContent
    );

    new Chart(
        document.getElementById('chartBerita'),
        {
            type: 'bar',

            data: {
                labels: beritaData.labels,

                datasets: [
                    {
                        label: 'Total Berita',

                        data: beritaData.data,

                        backgroundColor:
                            '#2563eb'
                    }
                ]
            }
        }
    );

    new Chart(
        document.getElementById('chartBidang'),
        {
            type: 'pie',

            data: {
                labels: bidangData.labels,

                datasets: [
                    {
                        data: bidangData.data,

                        backgroundColor: [
                            '#2563eb',
                            '#16a34a',
                            '#f59e0b',
                            '#dc2626',
                            '#9333ea',
                        ]
                    }
                ]
            }
        }
    );

</script>

<!-- map  -->
 <script>

const mapData = JSON.parse(
    '{{ dmap|escapejs }}'
);

console.log("MAP DATA", mapData);

const map = L.map('map').setView(
    [-8.7485, 116.8287],
    10
);

L.tileLayer(
    'https://tile.openstreetmap.org/{z}/{x}/{y}.png',
    {
        maxZoom: 18,
        attribution: '&copy; OpenStreetMap'
    }
).addTo(map);

L.Icon.Default.mergeOptions({
    iconRetinaUrl: "{% static 'vendor/leaflet/images/marker-icon-2x.png' %}",
    iconUrl: "{% static 'vendor/leaflet/images/marker-icon.png' %}",
    shadowUrl: "{% static 'vendor/leaflet/images/marker-shadow.png' %}",
});

const markers = [];

mapData.forEach(item => {

    const lat = Number(item.latitude);
    const lng = Number(item.longitude);

    console.log(
        `ID: ${item.id}`,
        `LAT: ${lat}`,
        `LNG: ${lng}`
    );

    if (
        isNaN(lat) ||
        isNaN(lng) ||
        lat === 0 ||
        lng === 0
    ) {
        console.warn(
            "Koordinat tidak valid:",
            item
        );
        return;
    }

    const icon = L.divIcon({
        className: '',
        html: `
            <div style="
                width:20px;
                height:20px;
                background:${item.jenis_kasus__warna || '#0ea5e9'};
                border-radius:50% 50% 50% 0;
                transform:rotate(-45deg);
                border:2px solid white;
                box-shadow:0 2px 4px rgba(0,0,0,.3);
            "></div>
        `,
        iconSize: [20, 20],
        iconAnchor: [10, 20],
    });

    const marker = L.marker(
        [lat, lng],
        { icon }
    )
    .bindPopup(`
        <b>${item.nomor_tiket || '-'}</b><br>
        Jenis: ${item.jenis_kasus__nama || '-'}<br>
        Judul: ${item.judul || '-'}<br>
        Desa: ${item.desa__nama || '-'}<br>
        Status: ${item.status || '-'}<br>
        Prioritas: ${item.prioritas || '-'}
    `)
    .addTo(map);

    markers.push(marker);
});

if (markers.length > 0) {
    const group = L.featureGroup(markers);

    map.fitBounds(
        group.getBounds(),
        {
            padding: [30, 30]
        }
    );
}

</script>
{% endblock %}