{% extends './layout.html' %}

{% block content %}

    <div
        class="grow p-6 lg:rounded-lg lg:bg-white lg:p-10 lg:shadow-xs lg:ring-1 lg:ring-zinc-950/5 dark:lg:bg-zinc-900 dark:lg:ring-white/10">
        <div class="mx-auto max-w-6xl">
            <div class="py-6">
                <h1 class="text-2xl/8 font-semibold text-zinc-950 sm:text-xl/8 dark:text-white">Data Lembaga {{lembaga}}</h1>
                <hr role="presentation"
                    class="my-10 mt-6 w-full border-t border-zinc-950/10 dark:border-white/10">
                
                
                <form method="get" class="flex items-center gap-2">
                    <input name="q" value="{{ search }}"
                    placeholder="Cari kelompok..."
                    class="px-4 py-2 text-sm border rounded-lg bg-white dark:bg-zinc-800 border-zinc-200 dark:border-zinc-700 focus:ring-2 focus:ring-blue-500 outline-none">

                    <button class="px-4 py-2 text-sm bg-blue-500 text-white rounded-lg hover:bg-blue-600">
                    Cari
                    </button>
                </form>
            </div>

                <!-- TABLE CARD -->
                <div class="bg-white dark:bg-zinc-900 rounded-2xl shadow-sm border border-zinc-200 dark:border-zinc-800">

                    <div class="overflow-x-auto">

                        <table class="min-w-full">

                        <!-- HEAD -->
                        <thead>
                            <tr class="text-left text-xs uppercase text-zinc-500 border-b border-zinc-200 dark:border-zinc-800">
                            <th class="px-6 py-4">Kelompok</th>
                            <th class="px-6 py-4">Lokasi</th>
                            <th class="px-6 py-4">Ketua</th>
                            <th class="px-6 py-4">Kelas</th>
                            <th class="px-6 py-4 text-right">Aksi</th>
                            </tr>
                        </thead>

                        <!-- BODY -->
                        <tbody class="divide-y divide-zinc-100 dark:divide-zinc-800">

                            {% for item in data %}
                            <tr class="group hover:bg-zinc-50 dark:hover:bg-zinc-800 transition">

                            <!-- Kelompok -->
                            <td class="px-6 py-4">
                                <div class="font-medium text-zinc-900 dark:text-white">
                                {{ item.nmKelo }}
                                </div>
                                <div class="text-xs text-zinc-500">
                                {{ item.statusOperasional|default:"-" }}
                                </div>
                            </td>

                            <!-- Lokasi -->
                            <td class="px-6 py-4 text-sm text-zinc-600 dark:text-zinc-300">
                                {{ item.desa.nmDesa }}  
                                <div class="text-xs text-zinc-400">
                                {{ item.desa.kecamatan.nmKec }}
                                </div>
                            </td>

                            <!-- Ketua -->
                            <td class="px-6 py-4 text-sm">
                                {{ item.ketua }}
                            </td>

                            <!-- Kelas -->
                            <td class="px-6 py-4">
                                <span class="text-xs px-3 py-1 rounded-full
                                {% if item.kelas == 'Madya' %}
                                    bg-green-100 text-green-700
                                {% else %}
                                    bg-yellow-100 text-yellow-700
                                {% endif %}
                                ">
                                {{ item.kelas }}
                                </span>
                            </td>

                            <!-- Aksi -->
                            <td class="px-6 py-4 text-right relative">
                                
                                <div class="relative inline-block menu-wrapper">

                                <!-- BUTTON -->
                                <button onclick="toggleMenu({{ item.id }}, event)"
                                    class="px-2 py-1 text-zinc-500 hover:text-black">
                                    ⋮
                                </button>

                                <!-- MENU -->
                                <div id="menu-{{ item.id }}" style="text-align: left;position: fixed;z-index: 10;"
                                    class="dropdown-menu hidden absolute right-0 mt-2 w-36 bg-white border rounded-lg shadow-lg z-10" style="    text-align: left;">

                                    <a href="{% url 'kelompok_detail' item.id %}"
                                        class="block px-3 py-2 text-sm hover:bg-zinc-100">
                                        Detail
                                    </a> 
                                    <a href="{% url 'pendapatan' item.id 'UMUM' %}"
                                        class="block px-3 py-2 text-sm hover:bg-zinc-100">
                                            Pendapatan
                                    </a>
                                    <a href="{% url 'pendapatan' item.id 'PADES' %}"
                                        class="block px-3 py-2 text-sm hover:bg-zinc-100">
                                            PAD
                                    </a>
                                    <a href="{% url 'pendapatan' item.id 'PAJAK' %}"
                                        class="block px-3 py-2 text-sm hover:bg-zinc-100">
                                            Pajak
                                    </a>


                                </div>

                                </div>
 

                                </td>

                            </tr>
                            {% endfor %}

                        </tbody>

                        </table>

                    </div>

                    <!-- PAGINATION -->
                    <div class="flex items-center justify-between px-6 py-4 border-t border-zinc-200 dark:border-zinc-800 text-sm">

                        <div class="text-zinc-500">
                        Halaman {{ data.number }} dari {{ data.paginator.num_pages }}
                        </div>

                        <div class="flex items-center gap-1">

                        {% if data.has_previous %}
                        <a href="?page={{ data.previous_page_number }}&q={{ search }}"
                            class="px-3 py-1 rounded-lg border hover:bg-zinc-100 dark:hover:bg-zinc-800">
                            ←
                        </a>
                        {% endif %}

                        {% for num in data.paginator.page_range %}
                            {% if num == data.number %}
                            <span class="px-3 py-1 bg-blue-500 text-white rounded-lg">
                                {{ num }}
                            </span>
                            {% elif num <= data.number|add:2 and num >= data.number|add:-2 %}
                            <a href="?page={{ num }}&q={{ search }}"
                                class="px-3 py-1 rounded-lg hover:bg-zinc-100 dark:hover:bg-zinc-800">
                                {{ num }}
                            </a>
                            {% endif %}
                        {% endfor %}

                        {% if data.has_next %}
                        <a href="?page={{ data.next_page_number }}&q={{ search }}"
                            class="px-3 py-1 rounded-lg border hover:bg-zinc-100 dark:hover:bg-zinc-800">
                            →
                        </a>
                        {% endif %}

                        </div>

                    </div>

                    </div>

            </div>
        </div>
    </div>
    
    <script>
        function toggleMenu(id, event) {
            event.stopPropagation(); // penting

            const menu = document.getElementById("menu-" + id);

            // tutup semua menu lain
            document.querySelectorAll('.dropdown-menu').forEach(el => {
                if (el !== menu) el.classList.add("hidden");
            });

            menu.classList.toggle("hidden");
        }

        // klik luar → tutup semua menu
        document.addEventListener("click", function(e) {
            if (!e.target.closest(".menu-wrapper")) {
                document.querySelectorAll('.dropdown-menu').forEach(el => {
                    el.classList.add("hidden");
                });
            }
        });
    </script>
{% endblock %} 

