{% extends './layout.html' %}

{% block content %}
<div
    class="grow p-6 lg:rounded-lg lg:bg-white lg:p-10 lg:shadow-xs lg:ring-1 lg:ring-zinc-950/5 dark:lg:bg-zinc-900 dark:lg:ring-white/10">

    <div class="mx-auto max-w-6xl">

        <h1 class="text-2xl/8 font-semibold text-zinc-950 dark:text-white">
            Laporan Keuangan
        </h1>

        <hr class="my-6 border-zinc-200 dark:border-zinc-800">
        <div class="mb-8">

            <div class="flex flex-wrap gap-2">

                {% for item in menu_legalitas %}
                <a href="{% url 'pmonitorAproval' item.idJLega %}"
                class="px-4 py-2 rounded-lg border text-sm font-medium
                {% if item.idJLega == currentJLega %}
                        bg-blue-500 text-white border-blue-500
                {% else %}
                        bg-white hover:bg-zinc-100 text-zinc-700
                {% endif %}">
                    {{ item.idJLega }}
                </a>
                {% endfor %}

            </div>

        </div>
        <hr class=" w-full border-t border-zinc-950/10 dark:border-white/10">
        
        <!-- SUBMENU -->
        <div class="flex flex-wrap gap-2 mb-8">

            {% for item in submenu %}
            <a href="{% url 'pmonitorApproval' item.idJLega %}"
                class="px-4 py-2 rounded-lg text-sm transition
                {% if currentJLega == item.idJLega %}
                    bg-blue-600 text-white
                {% else %}
                    bg-zinc-100 hover:bg-zinc-200
                {% endif %}">
                {{ item.idJLega }}
            </a>
            {% endfor %}

        </div>
 
    </div>
</div> 

{% endblock %}